---
layout: default
title: Welcome to the personal musings of Chris Gibbons
---

<section class="grid home">
  <article class="col col--3/4--md content__main clearfix">
    {% include about.html %}
  </article>

  <aside class="col col--1/4--md content__aside clearfix">
    <h2 class="content__aside--title">Latest blog articles</h2>
    <ul class="post__list">
      {% for post in site.posts limit:3 %}
        <li>
          <a class="post__link" href="{{ post.url }}">{{ post.title }}</a>
          <div class="post__date">
            {% assign d = post.date | date: "%-d" %}
            {{ post.date | date: "%b" }}
            {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
            {{ post.date | date: "%Y" }}
          </div>
        </li>
      {% endfor %}
    </ul>
  </aside>
</section>
