
  <h1 class="content__title--primary">Hi, I&rsquo;m <abbr title="{{ site.meta.description }}">Chris</abbr>.</h1>

  <p>I&rsquo;m an experienced digital developer specialising in front-end development, with a mild obsession for well written &amp; clean code. Currently building a bridge over to UX to pursue new &amp; exciting challenges</p>

  <p>I live close to the seaside resort of <a href="http://en.wikipedia.org/wiki/Blackpool">Blackpool</a> and in my spare time I like to take photographs &mdash; <a href="http://www.instagram.com/"{{ site.social-link.instagram }}>Instagram</a> &amp; <a href="http://www.500px.com/"{{ site.social-link.500px }}>500px</a> &mdash; bake and support Liverpool FC.</p>

  <p>A dabbler of HTML5, CSS3, JS; Tinkerer of mobile first &amp; RWD; Drinker of coffee; Maker of cakes; Not necessarily in that order.</p>

  <p class="post__meta post__meta--mini">Specialties: Front-end development, UI/UX, Mobile, Responsive, HTML5, CSS3, Sass, JavaScript (jQuery), Grunt, Gulp, basic Node.js, SEO, Web Standards, Cross browser testing, A/B testing.</p>
