<footer class="site-footer">
    <!--<h2 class="footer-heading">{{ site.title }}</h2>-->

    <div class="wrapper">
          <!--<li>{{ site.title }}</li>-->
        <p><a href="mailto:{{ site.main.email }}">{{ site.main.email }}</a></p>

        <ul class="social-media-list">
          {% if site.social-link.github %}
          <li class="social-item">
            <a href="https://github.com/{{ site.social-link.github }}">
              <i class="fa fa-github"></i>
              <span class="username">{{ site.social-link.github }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.social-link.twitter %}
          <li class="social-item">
            <a href="https://twitter.com/{{ site.social-link.twitter }}">
              <i class="fa fa-twitter"></i>
              <span class="username">{{ site.social-link.twitter }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.social-link.linkedin %}
          <li class="social-item">
            <a href="http://uk.linkedin.com/in/{{ site.social-link.linkedin }}">
              <i class="fa fa-linkedin"></i>
              <span class="username">{{ site.social-link.linkedin }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.social-link.instagram %}
          <li class="social-item">
            <a href="http://instagram.com/{{ site.social-link.instagram }}">
              <i class="fa fa-instagram"></i>
              <span class="username">{{ site.social-link.instagram }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.social-link.five-hundred-px %}
          <li class="social-item">
            <a href="http://500px.com/{{ site.social-link.instagram }}">
              <i class="fa fa-500px"></i>
              <span class="username">{{ site.social-link.five-hundred-px }}</span>
            </a>
          </li>
          {% endif %}

        </ul>

        <p class="text">&copy; {{ site.time | date: '%Y' }}. {{ site.main.description }} - All rights reserved.</p>
    </div>

</footer>
<script src="/scripts/main.js"></script>
<script src="/scripts/components/MobileNavigation.js"></script>
