  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.main.author }}</title>

    <!-- General Meta tags -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, user-scalable=yes, initial-scale=1">

    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <link rel="alternate" href="/atom.xml" title="{{ site.title }}" type="application/atom+xml" hreflang="en-gb">

    <script type="application/ld+json" async>
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "{{ site.main.author }}",
        "url": "{{ site.url }}",
        "image" : "{{ site.url }}/images/profile/chris-gibbons.jpg",
        "sameAs" : [
          "https://twitter.com/{{ site.social-link.twitter }}",
          "http://uk.linkedin.com/in/{{ site.social-link.linkedin }}",
          "https://github.com/{{ site.social-link.github }}"
        ]
      }
    </script>

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.meta.description }}{% endif %}">
    <meta name="keywords" content="{{ site.meta.keywords }}" />
    <meta name="author" content="{{ site.main.author }}" />
    <meta name="copyright" content="{{ site.main.author }}" />

    <!-- handheld support -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.main.author }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:image" content="{{ site.url }}/images/profile/chris-gibbons.jpg">
    <meta property="og:description" content="{{ site.main.author }} &mdash; {{ site.meta.description }}">
    <meta property="og:locale" content="en_GB">
    <meta property="article:author" content="{{ site.main.author }}">
    <meta property="og:site_name" content="{{ site.main.author }} &mdash; {{ site.meta.description }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ site.social-link.twitter }}">
    <meta name="twitter:creator" content="{{ site.social-link.twitter }}">
    <meta name="twitter:url" content="{{ site.url }}">
    <meta name="twitter:domain" content="{{ site.url }}">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.main.author }}">
    <meta name="twitter:description" content="{{ site.main.author }} &mdash; {{ site.meta.description }}">
    <meta name="twitter:image" content="{{ site.url }}/images/profile/chris-gibbons.jpg">
    <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">

    <!-- Webfont loading code from Google -->
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Montserrat:400,700:latin', 'Crimson+Text:400,700italic,400italic:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-31834421-1', 'auto');
      ga('send', 'pageview');

    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  </head>
