<header class="site__header">

  <div class="wrapper">

    <a class="site__title" href="{{ site.baseurl }}">
      <span class="site-meta-title">{{ site.main.title }}</span>
      <span class="site-meta-author">{{ site.main.author }}</span>
    </a>

    <div class="site__navigation">
      <a href="#" class="site__navigation-icon">
        <div class="nav-btn" hidden="" aria-hidden="true" data-nav-btn="" onclick="">
          <span class="nav-btn__lines"></span>
          <span class="nav-btn__text">Menu</span>
        </div>
      </a>

      {% include menu.html %}

    </div>

  </div>

</header>
