    <nav class="nav-primary__wrapper trigger">
      {% assign pages = site.pages %}
      <ul class="nav-primary">
        <li class="nav-primary__item">
          <a class="nav-primary__link{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
        </li>
        {% for p in pages %}
        {% if p.title != null %}
          {% if p.layout == "page" %}
          <li class="nav-primary__item">
            <a class="nav-primary__link{% if page.url == p.url %} active{% endif %}" href="{{ p.url }}">{{ p.title }}</a>
          </li>
          {% endif %}

          {% endif %}
        {% endfor %}
      </ul>


    </nav>
