// Main content container

.content {

  .content__title {
    &--primary {
      @include respond-min($bp-md);
      font-size : $f-size-h1-mobile;

      @include respond-min($bp-md){
        font-size: $f-size-h1;
      }
    }
    &--secondary {
      font-size : $f-size-h2;
    }
  }

  &__main {
    margin-bottom : 14px;
  }

  &__aside {
    &--title {
      margin-bottom : 8px;
      font-size     : $f-size-h2;
      font-weight   : 900;
    }
  }
}

/*
  *
  * Page content
*/

.page__content {
  padding : $base-spacing-unit;
  .page__heading {
    font-size : $f-size-h1;
  }
  .post__list {
    margin-bottom : 22px;

    li {
      margin-bottom: 16px;
    }

    .post__header {
      text-align: left;
    }
    .content__title--primary {
      margin-bottom : 6px;
    }
  }
}
