// Main content container

.content {
  .site__title {
    &--primary {
      @include    respond-min($bp-md);
      font-size : remy($f-size-h1-mobile);
    }
    &--secondary {
      font-size : remy($f-size-h2);
    }
  }
  &__main {
    margin-bottom : 14px;
  }
  &__aside {
    &--title {
      margin-bottom : 8px;
      font-size     : remy($f-size-h2);
      font-weight   : bold;
    }
  }
}

/*
  *
  * Page content
*/

.page__content {
  padding : $base-spacing-unit 0;
  .page__heading {
    font-size : remy($f-size-h1);
  }
  .post {
    margin-bottom : 22px;
    .site__title--primary {
      margin-bottom : 6px;
    }
  }
}
