/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $base-spacing-unit 0;

  .footer-heading {
    font-size: remy($f-size-h3);
    margin-bottom: $base-spacing-unit / 2;
  }

  .contact-list,
  .social-media-list {
    list-style: none;
    margin-left: 0;

    .username {
     display: none;
    }

    .social-item {
     display: inline-block;
     font-size: 30px;
     margin-right: 12px;
    }
  }

  .footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$base-spacing-unit / 2;
    @include clearfix;
  }
}
