body {
  background-color: $grey-color-light;

  @include respond-min($bp-md){
    border: 60px solid $grey-color-light;
  }
}

* {
  box-sizing: border-box;
}

header, main, footer {
  background-color: $c-background--primary;
}

p {
  &:last-of-type {
    margin-bottom: 0;
  }
}

li {
  font-size: 18px;
  line-height: 1.4;
}
