html {
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

body {
  background-color: $grey-color-light;
}

* {
  box-sizing: border-box;
}

header, main, footer {
  background-color: $c-background--plain;
}

p {
  &:last-of-type {
    margin-bottom: 0;
  }
}

li {
  font-size: 16px;
  line-height: 1.4;
}

h2 {
  font-size: $f-size-h2;
  font-weight: 900;
  line-height: 1.1;
}

h3 {
  font-size: 18px;
  margin: 30px 0 4px;
}

h4 {
  margin: 20px 0 4px;
}
