/**
 * Site header
 */
.site__header {
  border-top: 1px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  padding: 20px 0;
  position: relative;

  @include respond-min($bp-md){
    // text-align: center;
  }

  .site__title {
    font-size: remy($f-size-h1-mobile);
    @include font-weight(normal);
    line-height: 1.4;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-family: $f-title;
    margin-bottom: 8px;
    display: block;
    width: 90%;
    text-align: center;
    margin: 0 auto 8px;

    @include respond-min($bp-md){
      margin-left: 2.5rem;
      width: auto;
      display: inline-block;
      margin: 0;
    }

    &:hover,
    &:visited {
      color: $grey-color-dark;
    }

    @include respond-min($bp-md) {
      margin-left: 0;
    }
  }

  .site-meta-title,
  .site-meta-author {
    display: block;
    text-align: center;

    @include respond-min($bp-md){
      //display: inline-block;
      text-align: left;
    }
  }

  .site-meta-title {
    font-size: remy(24px);

    @include respond-min($bp-md) {
      font-size: inherit;

      &:after {
        content: '/';
        font-size: inherit;
        display: inline-block;
        margin: 0 0 0 6px;
      }
    }
  }
}
