/**
 * Site header
 */
.site__header {
  border: $base-border-style;
  border-bottom: $base-border-style--light;
  padding: 20px 0;
  position: relative;

  @include respond-min($bp-md){
    // text-align: center;
  }

  .site__title {
    font-size: remy($f-size-title);
    @include font-weight(normal);
    line-height: 1.4;
    letter-spacing: -1px;
    margin-bottom: 0;
    margin-bottom: 8px;
    display: block;
    width: 90%;
    text-align: center;
    margin: 0 auto 8px;

    @include respond-min-max($bp-md, $bp-md-lg) {
      margin: 0 auto;
    }

    @include respond-min($bp-md-lg) {
      margin-left: 2.5rem;
      width: auto;
      display: inline-block;
      margin: 0;
      margin-left: 0;
    }

    &:hover,
    &:visited {
      color: $c-text--primary-dark;
    }
  }

  .site-meta-title,
  .site-meta-author {
    display: block;
    text-align: center;

    @include respond-min-max($bp-md, $bp-md-lg) {
      text-align: center;
    }

    @include respond-min($bp-md-lg) {
      text-align: left;
    }
  }

  .site-meta-title {
    font-size: remy(24px);
    font-weight: 900;
    
    @include respond-min($bp-md) {
      font-size: inherit;
    }
  }
}
