/**
 * Wrapper
 */
.wrapper {
  margin: 0 auto;
  padding-right: $base-spacing-unit;
  padding-left: $base-spacing-unit;
  @include clearfix;

  //@include respond-min($bp-md) {
  //  max-width: -webkit-calc(#{d-wrapper-width} - (#{$base-spacing-unit}));
  //  max-width:         calc(#{d-wrapper-width} - (#{$base-spacing-unit}));
  //  padding-right: $base-spacing-unit / 2;
  //  padding-left: $base-spacing-unit / 2;
  //}
}
