/**
 * Posts
 */
.post__header {
  margin-bottom: 12px;
}

.post__title {
	font-size: remy($f-size-max);
	letter-spacing: -1px;
	line-height: 1;

  @include respond-min($bp-md) {
	  font-size: remy($f-size-h1);
	}
}

.post__content {
	margin-bottom: $base-spacing-unit;

	.site__title--secondary {
		margin-bottom:6px;

    @include respond-min($bp-md) {
      font-size: remy($f-size-h2);
		}
	}

	h3 {
    font-size: remy($f-size-h3);
	}

	h4 {
    font-size: remy($f-size-h4);

	}
}

.post__list {
	margin-left: 0;
	list-style: none;

	> li {
		margin-bottom: 12px;
	}
}

.post__meta {
	font-size: $f-size-h2;
	color: $grey-color;
}

.post__link {
	display: block;
	font-size: remy($f-size-h2);
}

.post__date {
	font-size:remy($f-size-body);
}
