/**
 * Posts
 */
.post__header {
  margin-bottom: ($base-spacing-unit / 2);
  @include respond-min($bp-md) {
    margin-bottom: ($base-spacing-unit * 2);
  }

  text-align: center;
}

.post__title {
	font-size: remy($f-size-max);
	letter-spacing: -1px;
	line-height: 1;

  @include respond-min($bp-md) {
	  font-size: remy($f-size-h1);
	}
}

.post__content {
  margin: 0 auto $base-spacing-unit;
  width: 100%;

  @include respond-min($bp-md) {
    width:70%;
  }

	.site__title--secondary {
		margin-bottom:6px;

    @include respond-min($bp-md) {
      font-size: remy($f-size-h2);
		}
	}

  p {
    &:first-child {
      font-size: remy(20px);
      margin-bottom: 30px;
      line-height: 1.5;
    }
  }

  h2 {
    margin: $base-spacing-unit 0 ($base-spacing-unit / 3);
    @include respond-min($bp-md) {
      margin-bottom: $base-spacing-unit;
    }
  }

	h3 {
    font-size: remy($f-size-h3);
	}

	h4 {
    font-size: remy($f-size-h4);

	}
}

.post__meta {
	font-size: remy($f-size-h5);
	color: $grey-color;

  @include respond-min($bp-md) {
    font-size: remy($f-size-h4);
  }

  &--mini {
    font-size: $f-size-h5;
    font-style: italic;
  }

  &--time {
    display: block;
    @include respond-min($bp-md) {
      display: inline;
    }
  }
}

.post__link {
	display: block;
	font-size: remy($f-size-h2);
}

.post__date {
	font-size:remy($f-size-body);
}

.post__wrapper {
  p {
    &:first-child {
      &:first-letter {
        float: left;
        font-size: remy(70px);
        line-height: remy(70px);
        padding: 0px 6px 0px 0px;
        margin-bottom: -12px;
      }
    }
  }
}
